{% extends 'form/base_form.html.twig' %}

{% block title %}Créer un compte{% endblock %}

    {% block body %}

    <img class="doglogin" src="{{ asset('images/dog-register.jpg') }}">
    <div class="form login register">

        <h1>Créer votre compte</h1>

        {{ form_start(form)}}
            {{ form_widget(form) }}
            <button class="btn btn-info register">{{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}
         <a href="{{ path('app_login') }}">Me connecter !!</a>
    </div>

   

    {% endblock %}

